.AddItem {
  background-color: #d9aae2;
  border: 1px solid #d9aae2;
  width: 100%;
  z-index: 200;
}

.OnInput {
  border-radius: 5px;
  outline: none;
  /* outline-color: none; */
  background-color: #d9aae2;
  border: 3px solid #f5bed8;
  color: #e760ba;
  width: 37rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  /* box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1); */
  transition: all 0.5s ease-out;
}

.OnInput:focus {
  outline: none;
  background-color: #f5bed8;
  border: 3px solid #f5bed8;
  transition: all 0.5s ease-out;
}

.Button {
  margin: 1rem;
  background: #f5bed8;
  color: #e760ba;
  border-color: #f5bed8;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.Button:disabled {
  border-color: #e760ba;
  background: #e760ba;
  cursor: not-allowed;
  color: azure;
  transition: all 0.5s ease-out;
}

@media (max-width: 714px) {
  .OnInput {
     width: 20rem;
     margin-right: 0.2rem;
  margin-left: 0.4rem;
  }
  .Button {
    margin: 0.2rem;
  }

}
 