.Input {
  color: #2b2627;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
}

.Label {
  color: #e760ba;
  outline: none;
  outline-color: none;
  font-weight: bold;
}

.InputElement {
  outline: none;
  outline-color: none;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #d9aae2;
  padding: 0.5rem 0.8rem;
  display: block;
  height: 3rem;
  width: 100%;
  transition: all 0.5s ease-out;
}

.InputElement:focus {
  outline: none;
  background-color: azure;
  border: 3px solid azure;
  transition: all 0.5s ease-out;
}

@media (max-width: 414px) {
  .Input {
    padding: 0.6rem;
  }

  .InputElement {
    height: 2.8rem;
  }
  button {
    margin: 0.3rem;
  }
}