.NavigationItem {
 margin: 0;
 box-sizing: border-box;
 display: flex;
 height: 100%;
 align-items: center;
 text-align: center;
}

.NavigationItem a {
    color: #2b2627;
    text-decoration: none;
    /* height: 100%; */
    padding: 16px 10px;
    border: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: all 0.5s ease-out;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color:  #e760ba;
  background-color:#f5bed8;
  /* border-radius: 40%; */
  /* border: 4px solid #dfd6be; */
  transition: all 0.5s ease-out;
}