.NavigationItem {
  height: 100%;
 margin: 0;
 font-size: 1.2rem;
 box-sizing: border-box;
 display: flex;
 align-items: center;
 text-align: center;
}

.NavigationItem a {
    color: #2b2627;
    text-decoration: none;
    padding: 16px 10px;
    border: 3px solid transparent;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: all 0.5s ease-out;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color:  #e760ba;
  background-color:#f5bed8;
  transition: all 0.5s ease-out;
}