@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.ListItem {
  font-family: 'Acme', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f5bed8;
  border: 2px solid #d9aae2;
  list-style-type: none;
  padding-left: 10px;
  min-height: 2.5rem;
  font-size: 1rem;
  /* color: #e760ba; */
  color: #2b2627;
}

.Done {
  text-decoration: line-through;
}

.Important {
  font-weight: bold;
  color: #e760ba;
}
.SpanStyle {
  word-break: break-word;
  width: 335px;
}
.Button {
  margin-right: 2px;
  font-weight: bold;
  color: #e760ba;
  background-color: #d9aae2;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}

.Button:hover,
.Button:focus {
  background-color: azure;
  color: #e760ba;
  transition: all 0.5s ease-out;
}
.Button2 {
  margin-right: 2px;
  color: #e760ba;
  background-color: #d9aae2;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}

.Button2:hover,
.Button2:focus {
  background-color: azure;
  color: #e760ba;
  transition: all 0.5s ease-out;
}
