@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.Content {
  display: flex;
  flex-direction: row;
  background-color: #d9aae2;
  border: 2px solid #99c9ff;
  font-family: "Acme", sans-serif;
  text-align: center;
  align-items: center;
  z-index: 200;
}

.Box1 {
  flex-grow: 1;
  text-align: center;
  width: 100px;
}

.Box2 {
  flex-grow: 4;
  text-align: center;
  border-right: none;
}

.Box3 {
  flex-grow: 1;
  width: 100px;
  text-align: center;
  color: #dfd6be;
}

.h1 {
  margin: 0;
  color: #e760ba;
  transition: all 0.5s ease-out;
}

.h1:hover {
  color: azure;
  transition: all 0.5s ease-out;
}

.open {
  margin: 0;
  color: #e760ba;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.open:hover {
    color: azure;
    transition: all 0.5s ease-out;
}
