.Content {
    display: flex;
    flex-direction: row;
    background-color: #99c9ff;
    border: 2px solid #99c9ff;
    
    text-align: center;
    align-items: center;
    z-index: 200;
}

.Box1 {
    flex-grow: 1;
    text-align: center;
    width: 100px;
    
   
   
}

.Box2 {
    flex-grow: 4;
    text-align: center;
    border-right: none;
   
    
    
}

.Box3 {
    flex-grow: 1;
    width: 100px;
    text-align: center;
   
    color:#ffd666;
    
}

.h1 {
 margin: 0;
 color: #dfd6be;
 
}

.open {
    margin: 0;
    color: #dfd6be;
    cursor: pointer;
}
