@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.Content {
    font-family: 'Acme', sans-serif;
    background-color: #2b2627;
    border: 12px solid #99c9ff;
    width: 450px;
    text-align: center;
    color: #dfd6be;
    width: 46rem;
    z-index: 200;
   
}
 .ContentH1 {
     font-size: 2.5rem;
     margin-bottom: 1.5rem;
     margin-top: 1.5rem;
     color: #dfd6be;
 }
