.Auth {
  margin: 3rem auto;
  width: 450px;
  text-align: center;
  background-color: #dfd6be;
  box-shadow: 0 14px 28px rgba(8, 8, 8, 0.25), 0 10px 10px rgba(8, 3, 3, 0.22);
  padding: 10px;
  box-sizing: border-box;
  color: teal;
  z-index: 300;
}

.Form {
  background-color: #99c9ff;
  color: teal;
  z-index: 300;
}
.Button {
  margin-bottom: 10px;
  background: transparent;
  background-color: #c82031;
  border-color: #c82031;
  z-index: 200;
}
.Button:focus {
  background: transparent;

  background-color: #874d00;
}
